<configuration>
	<log4net>
		<!-- Root logger configuration -->
		<root>
			<level value="INFO" />
			<!-- Use DEBUG for more verbose logging -->
			<appender-ref ref="ConsoleAppender" />
		</root>

		<!-- Console appender configuration -->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>
